h2 {
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}

label {
  display: inline;
}

input {
  font-size: 18px;
  display: inline;
}

.upload-pane {
  border: 1px solid #000000;
  width: 500px;
  position: relative;
  margin: 12px 300px 300px 2px;
  padding: 10px 10px 2px 10px;
}

.comparison-pane {
  position: relative;
}

.image-pane {
  margin: 2px;
  position: absolute;
  left:0px;
  border: 1px solid #ffffff;
  height: 650px;
  width: 650px;
}

.image-pane img {
  margin: 3px;
}

.asciiart-pane {
  margin: 2px;
  position: absolute;
  right:0px;
  border: 1px solid #ffffff;
  font-family: Courier New;
}
